head{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}
a{
    text-decoration: none;
}
body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: #39ff14;
}