head{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: #39ff14;
}